* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('img/bg.png') center;
    background-size: cover;
    overflow: hidden;
}

.scroller {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: infinite scroll linear;
}

.scroller img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    from {
        transform: translateY(-100%)
    }
    to {
        transform: translateY(100%)
    }
}

.layer-1 {
    animation-duration: 20s;
    z-index: 1;
}

.layer-2 {
    animation-duration: 15s;
    z-index: 2;
}

.layer-3 {
    animation-duration: 10s;
    z-index: 4;
}

.layer-4 {
    animation-duration: 7.5s;
    z-index: 5;
}

.overlay {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blocks {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 3
}

.blocks-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 3rem;
}

@media (min-width: 1024px) {
    .blocks-body {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block h1 {
    font-size: 5rem;
    text-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
}

.block p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.loader {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: .5rem solid white;
    border-left: .5rem solid #e6e6e6;
    animation: 1s infinite loaderSpin linear;
}

@keyframes loaderSpin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
